Arbeitsdaten/
.vscode/
1.html
1.md
2.html
3.html
dir.bat
markdown-to-medium_EN.html
neuer Text von funxt.html
Verzeichnisinhalt.txt
markdown-to-medium_EN-Vor-Finalem-Commit.html
markdown_to_medium_fixed_3_claude_funxt_scheinbar.html